@media (prefers-color-scheme: dark) {
    span.grade_5{
        background-color: #27aa68!important; 
    }
    span.grade_4{
        background-color: #70c55b!important; 
    }
    span.grade_3{
        background-color: #c2bc60!important; 
    }
    span.grade_2{
        background-color: #b96c51!important; 
    }
    span.grade_1{
        background-color: #b94651!important; 
    }
    span.mini_circle{
        background-color: #b94651!important; 
    }
    
    body {
        background-color:#22262a!important;
        color: #d8dee9!important;
    }
    select.input-sm {
        background-color:#303841!important;
        color:#d8dee9!important;
    }
    ul.breadcrumb {
        background-color:#303841!important;
        border-color: transparent!important;
    }
    ul.nav {
        border-color: transparent!important;
    }
    ul.dropdown-menu {
        background-color: #292929b8!important;
    }
    
    nav {
        background-color:#303841!important;
    }
    a {
        color:#7ab5df!important;
        background-color:transparent!important;
        border-color: transparent!important;
    }
    a:hover {
        background-color: #383e4a!important;
    }
    span#bp.label.label-default{
        color:#7ab5df!important;
        background-color:#303841!important;
    }
    
    div {
        background-color:transparent!important;
    } 
    div.alert.alert-warning {
        background-color:#303841!important;
        border-color: transparent!important;
    }
    div.well {
        background-color:#303841!important;
        border-color: transparent!important;
    }
    div.list-group-item {
        background-color:#303841!important;
        border-color: transparent!important;
    }
    div.modal-body {
        background-color:#303841!important;
    }
    div.modal-header {
        background-color:#303841!important;
    }
    div.modal-footer {
        background-color:#303841!important;
    }
    div#notifications {
        background-color: #27292a!important;
    }
    div.notification {
        border-color: transparent!important;
    }
    div.notification:hover {
        background-color: #383e4a!important;
    }
    div.notification-more {
        background-color: #27292a!important;
    }
    div.notification-more:hover {
        background-color: #383e4a!important;
    }
    div.notification-message{
        color:#d8dee9!important;
    }
    div.panel-heading {
        color:#d8dee9!important;
    }
    div.panel {
        background-color:#303841!important;
        color:#d8dee9!important;
        border-color: transparent!important;
    }
    
    th {
        border-color: #d8dee9!important;
    }
    td {
        border-color: transparent!important;
    }
    .col-md-4 td {
        border-color: transparent!important;
        background-color: transparent!important;
    }
    tr.pointer:hover {
        background-color: #303841!important;
    }
    tr {
        background-color: transparent!important;
    }
    
    nav.bg-white {
        background-color:#303841!important;
    }
    #region-main {
        background-color: transparent!important;;
    } 
    div.content {
        background-color: transparent!important;;
    } 
    selection.region-main {
        background-color: transparent!important;;
    } 
    button.bg-gray {
        background-color: #7ab5df!important;
        border-color: transparent!important;
    }
    
    td {
        background-color: transparent!important;;
    } 
}
